flow.json
[{"id":"830214f0b506b3b0","type":"tab","label":"Flow 2","disabled":false,"info":"","env":[]},{"id":"2e4e54fe96dc1eee","type":"inject","z":"830214f0b506b3b0","name":"Get IP","repeat":"","crontab":"0 0-23 * * *","once":false,"topic":"This is your current Server IP address","payload":"","payloadType":"date","x":320,"y":140,"wires":[["95db8ad270a91ea4"]]},{"id":"5414456618b075f6","type":"function","z":"830214f0b506b3b0","name":"Compare IP","func":"context.lastip = context.lastip || 'initial';\nvar currentip = msg.payload;\n\nif (context.lastip == 'initial') {\ncontext.lastip = currentip;\n}\nelse if (context.lastip != currentip) {\nmsg.payload = \"My current Server IP is http://\"+currentip +\":XXX\";\n//Replace XXXX with the Port number you use to access your network if needed.\n//If you don't need a port number in the address, delete the +\":XXXX\" above.\ncontext.lastip = currentip;\nreturn msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":830,"y":120,"wires":[["4e5f33475c2035d2","9684e3f51f6e674a"]]},{"id":"95db8ad270a91ea4","type":"exec","z":"830214f0b506b3b0","command":"wget -qO- https://ident.me","addpay":false,"append":"","useSpawn":"","timer":"","winHide":false,"oldrc":false,"name":"Call IP","x":470,"y":140,"wires":[["cea1f268fd6a6a2f"],["977a0bd7f5fbd677"],[]]},{"id":"cea1f268fd6a6a2f","type":"switch","z":"830214f0b506b3b0","name":"Integrity check","property":"payload","propertyType":"msg","rules":[{"t":"regex","v":"\\b(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\\b","vt":"str","case":false},{"t":"else"}],"checkall":"true","outputs":2,"x":640,"y":160,"wires":[["5414456618b075f6","15778f8cf162d5af"],[]]},{"id":"4e5f33475c2035d2","type":"debug","z":"830214f0b506b3b0","name":"","active":true,"console":"false","complete":"payload","x":990,"y":140,"wires":[]},{"id":"882f971959ec95d4","type":"inject","z":"830214f0b506b3b0","name":"Reset Notification","props":[{"p":"payload","v":"0.0.0.0","vt":"str"},{"p":"topic","v":"This is NOT your current IP. This is only to reset the IP notification. DELETE THIS","vt":"str"}],"repeat":"","crontab":"55 01 * * 0","once":false,"topic":"This is NOT your current IP. This is only to reset the IP notification. DELETE THIS","payload":"0.0.0.0","payloadType":"str","x":430,"y":200,"wires":[["cea1f268fd6a6a2f"]]},{"id":"9684e3f51f6e674a","type":"e-mail","z":"830214f0b506b3b0","server":"","port":"465","secure":true,"tls":true,"name":"you@youremailaddress.com","dname":"Send an email","x":1000,"y":100,"wires":[]},{"id":"15778f8cf162d5af","type":"debug","z":"830214f0b506b3b0","name":"","active":true,"console":"false","complete":"payload","x":830,"y":180,"wires":[]},{"id":"977a0bd7f5fbd677","type":"debug","z":"830214f0b506b3b0","name":"","active":true,"console":"false","complete":"payload","x":630,"y":200,"wires":[]}]